:root {
  --background: #e5e2e2;
  --container: #893f48;
  --column: #d2cdd4;
  --box-shadow: #9c768d;
}

/* Structure */
body {
  background: var(--background);
  margin: 0;
  padding: 0;
  cursor: url("images/cursor.png"), auto;
}

#band-list {
  margin: 0 auto;
  margin-bottom: 25px;
  background: var(--container);
  border-radius: 2px;
  box-shadow: 15px 15px var(--box-shadow);
  width: 95%;
}

.column {
  padding: 15px 10px;
  background-color: var(--column);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
  margin: 25px 20px;
  transition: border 0.5s;
  border: solid 3px transparent;
}

.column:hover {
  border: solid 3px var(--box-shadow);
}

.column img {
  margin: auto;
  transition: transform 0.2s;
  padding: 5px;
}

.column img:hover {
  transform: scale(1.1);
}

p {
  padding: 5px;
}

ul {
  text-align: center;
}

li {
  padding: 0;
  margin: 0;
}

/*Typography*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.3em;
}

h3 {
  font-size: 22px;
}

.bold {
  font-weight: bold;
}

.column {
  text-align: center;
}

p {
  font-size: 18px;
}

/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    flex: 1;
  }
}
